.panel-body
    %h1 Limport Serviços
    %p
        Venha fazer parte desta equipe vencedora.
        =link_to " Clique aqui ", new_curriculo_path
        e nos envie seu currículo.
    %br/
    .row
        .col-md-12
            #experiencias
                %h2 Missão
                %p Facilitar o dia a dia dos nossos clientes, oferecendo uma multiplicidade de serviços, com soluções eficientes e inovadoras, valorizando nossa equipe, respeitando a vida e o meio ambiente.
                %h2 Visão
                %p Manter-se líder no mercado Norte Fluminense em limpeza e portaria, destacando-se como uma empresa de referência.
                %h2 Valores
                %ul
                    %li= "Ética e transparência"
                    %li= "Compromisso com resultados"
                    %li= "Inovação"
                    %li= "Investimento em treinamento"
                    %li= "Respeito às pessoas e ao meio ambiente"
                    %li= "Compromisso social"
                %h2 Política de Qualidade
                %p A nossa política de qualidade prima pela busca constante da satisfação dos clientes através de atendimento personalizado e capacitação dos colaboradores, assegurando o desenvolvimento contínuo da Empresa e respeitando o meio ambiente.
