<p id="notice"><%= notice %></p>

<p>
  <strong>Data nascimento:</strong>
  <%= @entrevista.data_nascimento %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @entrevista.telefone %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @entrevista.estado_civil %>
</p>

<p>
  <strong>Filhos:</strong>
  <%= @entrevista.filhos %>
</p>

<p>
  <strong>Quantos filhos:</strong>
  <%= @entrevista.quantos_filhos %>
</p>

<p>
  <strong>Mais filhos:</strong>
  <%= @entrevista.mais_filhos %>
</p>

<p>
  <strong>Mora com quem:</strong>
  <%= @entrevista.mora_com_quem %>
</p>

<p>
  <strong>Casa propria:</strong>
  <%= @entrevista.casa_propria %>
</p>

<p>
  <strong>Sustenta casa:</strong>
  <%= @entrevista.sustenta_casa %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @entrevista.escolaridade %>
</p>

<p>
  <strong>Parou estudar:</strong>
  <%= @entrevista.parou_estudar %>
</p>

<p>
  <strong>Problema de saude:</strong>
  <%= @entrevista.problema_de_saude %>
</p>

<p>
  <strong>Alergia:</strong>
  <%= @entrevista.alergia %>
</p>

<p>
  <strong>Ultimo trabalho:</strong>
  <%= @entrevista.ultimo_trabalho %>
</p>

<p>
  <strong>Funcao ultimo trabalho:</strong>
  <%= @entrevista.funcao_ultimo_trabalho %>
</p>

<p>
  <strong>Entrada ultimo trabalho:</strong>
  <%= @entrevista.entrada_ultimo_trabalho %>
</p>

<p>
  <strong>Saida ultimo trabalho:</strong>
  <%= @entrevista.saida_ultimo_trabalho %>
</p>

<p>
  <strong>Motivo saida:</strong>
  <%= @entrevista.motivo_saida %>
</p>

<p>
  <strong>Colocou empresa justica:</strong>
  <%= @entrevista.colocou_empresa_justica %>
</p>

<p>
  <strong>Preferencia:</strong>
  <%= @entrevista.preferencia %>
</p>

<p>
  <strong>Bebe:</strong>
  <%= @entrevista.bebe %>
</p>

<p>
  <strong>Fuma:</strong>
  <%= @entrevista.fuma %>
</p>

<p>
  <strong>Religiao:</strong>
  <%= @entrevista.religiao %>
</p>

<p>
  <strong>Setor gostaria ocupar:</strong>
  <%= @entrevista.setor_gostaria_ocupar %>
</p>

<p>
  <strong>Experiencia area pretendida:</strong>
  <%= @entrevista.experiencia_area_pretendida %>
</p>

<p>
  <strong>Qualidade:</strong>
  <%= @entrevista.qualidade %>
</p>

<p>
  <strong>Defeito:</strong>
  <%= @entrevista.defeito %>
</p>

<p>
  <strong>Disponibilidade horario:</strong>
  <%= @entrevista.disponibilidade_horario %>
</p>

<p>
  <strong>Meio transporte:</strong>
  <%= @entrevista.meio_transporte %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @entrevista.observacao %>
</p>

<p>
  <strong>Carteira nacional habilitacao:</strong>
  <%= @entrevista.carteira_nacional_habilitacao %>
</p>

<%= link_to 'Edit', edit_entrevista_path(@entrevista) %> |
<%= link_to 'Back', entrevistas_path %>
